.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1440px;
}

.nav {
  margin: 40px 0;
}

.nav_list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 16px;
}

.current_category {
  cursor: pointer;
}

.item {
  position: relative;
  padding: 0 20px;
  border: .0625rem solid #ddd;
  border-radius: .375rem;
  font-size: 1rem;
  line-height: 126%;
  padding: .5rem 1rem;
}

.item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -18px;
  width: 18px;
  height: 1px;
  background-color: #DDDDDD;
  transform: translateY(-50%);
}

.item:last-child::after {
  content: none;
}

.link {
  color: var(--color-2);
}

.title {
  font-size: 64px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
  color: var(--color-2);
  line-height: 70.4px;
}

.form {
  align-items: center;
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}


@media(max-width: 1000px) {
  .container {
      padding: 0 20px;
      max-width: 1000px;
  }
  .title {
      margin-bottom: 32px;
  }
}

@media(max-width: 768px) {
  .container {
      max-width: 768px;
  }
  .nav {
      margin: 32px 0;
  }
  .title {
      font-size: 56px;
  }
}

@media(max-width: 480px) {
  .container {
      max-width: 480px;
  }

  .title {
      font-size: 48px;
      margin-bottom: 24px;
  }
  .nav_list{
      display: none;
  }
  .price_original{
      font-size: 18px;
  }
}
@media(max-width: 360px) {
  .container {
      max-width: 360px;
  }

  .title {
      font-size: 40px;
  }
}
