*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  transition: background-color 0.3s, color 0.3s; /*Плавное переключение Темы (Lev)*/

  color: #282828;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  min-height: 100vh;
  width: 100%;
  background-color: #FFFFF1;
}

/* Светлая тема */
body.light {
  background-color: #FFFFF1;
  color: #282828;
  --map-brightness: 1;
  --color: #424436;
  --color-2: #424436;
  --color-under-card: #424436;
  --card-color: #F2F6D3;
  --input-color: #FFFFFF;
}

/* Тёмная тема */
body.dark {
  /* background-color: #121212; */
  background-color: #424436;
  color: #ffffff;
  --map-brightness: 0.5; /*Затемнение карты для темной темы*/ 
  --color: #FFFFF1;
  --color-2: #FFFFFF;
  --card-color: #383A2C;
  --input-color: #424436;
}

a:hover{
  color: #92A134; /*Надписи становятся зелеными при наведении*/
} 

