.form_container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #87933D, #55610B);
    max-width: 1360px;
    width: 100%;
    margin: 74px auto 0 auto ;
    border-radius: 12px;
}

.form_and_image_container {
    display: flex;
    flex-direction: row;
    max-width: 1296px;
    width: 100%;
    margin: auto;
}

.main_form {
    flex-direction: column;
    margin: auto;
    margin-left: 32px;
}

.form_title {
    color: white;
    text-align: center;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 32px;
    margin-bottom: 24px;
}

.input_field {
    max-width: 516px;
    width: 100%;
    height: 58px; 
    margin-bottom: 16px;
    border-radius: 6px;
    background: linear-gradient(to right, #6d772b, #55610B);
    border: 0.5px solid rgba(255, 252, 252, 0.5);
    color: white;
    padding-left: 32px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 130%;
    
}

.input_field::placeholder {
    color: white;  
    opacity: 1;   
}

.submit_button {
    max-width: 516px;
    width: 100%;
    height: 58px;
    margin-top: 16px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 130%;
}

.submit_button:hover {
    background-color: #424436; 
    transition: background-color 0.3s ease;
    border: 1px solid #424436;
    color: white;
}
.error_content{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 130%;
    color: white;
}

.form_image {
    max-width: 748px;
    width: 100%;

}

@media (max-width: 1000px) {

    .form_image {
        object-position: center;
        max-width: 50%;
        object-fit: cover;
        object-position: right center;
        
    }


  
}