
.form {
    align-items: center;
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}

.label_price{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
} 

.label_sort, .label_discount {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-left: 24px;
}

.input_price {
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    height: 36px;
    padding: 8px 16px;
    width: 112px;
}

.select_sort {
    font-weight: 500;
    line-height: 20,16px;
    min-width: 148px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 16px;
    margin-left: 16px;
    color: #424436;
}

.input_discount {
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: all .3s ease-in-out;
    background-color: white;
}

.input_discount:checked {
    background-color: #92A134; 
    border-color: #92A134;
}

.input_discount:checked::after {
    content: "✓";
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_discount::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
}

.input_discount:checked::after {
    transform: translate(-50%, -50%) scale(1); /* Zeigt das Häkchen an */
}
@media(max-width: 768px){
    .form {
        flex-wrap: wrap;
    }
    .label_sort{
        margin-left:0;
    }
}
@media(max-width: 480px){
    .label_discount{
        margin-left:0;
        font-size: 18px;
    }
    .label_price, .label_sort{
        font-size: 18px;
    }
    .input_price, .select_sort{
        font-size: 14px;
    }
}