.modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 32px;
}
.modal_content {
  background-color: #92A134;
  padding: 20px;
  border-radius: 8px;
  max-width: 424px;
  position: absolute; /* Ändern von relative zu absolute */
  top: 260px; /* Abstand von oben */
  left: 226px; /* Abstand von links */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

  .sub_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    /* color: #ffffff; */
    margin: 0;
    /* max-width: 424px; */
    
  }
  
  .close_button {
    background: none;
    border: none;
    font-size: 22px; 
    cursor: pointer;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
    
    max-width: 22px;
    width: 100%;
    padding-top: 11px;
    /* padding-left: 11px; */
  }
  
  .close_button:hover {
    color: #f26d22;
  }