.container_single_card {
  max-width: 1360px;
  margin: 0px auto;

}

.nav_container {
  width: 603px;
  height: auto; /* Уберите фиксированную высоту, если она не нужна */
  margin-bottom: 30px;
  padding-top: 30px;
  position: relative;
}

.nav_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.item {
  padding: .5rem 1rem;
  border: 1px solid #DDDDDD;
  border-radius: .375rem;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
  position: relative; 
  
}

.link {
  color: #8B8B8B;
  
}

.card_name {
  color: #424436; 
}

.nav_list::after {
  position: absolute;
  top: 100%; /* Перемещаем линию вниз, чтобы она была под элементами */
  left: 0; 
  right: 0; 
  height: 1px; 
  background-color: #DDDDDD; 
  z-index: 0; 
}

.item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -18px;
  width: 18px;
  height: 1px;
  background-color: #DDDDDD;
  transform: translateY(-50%);
}

.item:last-child::after {
  content: none;
}

.product_details {

  display: flex;
  flex-direction: row;
  gap: 30px; 
  margin-bottom: 30px;
}

.image_container {
  flex: 1;
  position: relative;
}


.image {
  
  border-radius: 10px;
    object-fit: cover;
    position: relative;
    width: 100%;
    height:auto;
    

}


.inform_container {
  max-width: 640px;
  height: auto;;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 28px;

}

.inform_container{
display: flex;
flex-direction: column;
}

.container_title_and_icons {
  gap: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.title {
  color: #424436;

  font-size: 35px;
  font-weight: 700;
  line-height: 44px;
 
  text-align: left;
}



.icon_heart {
  width: 58px;
height: 48px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.price_container {
  align-items: center;
  display: flex;
  flex-direction: row;

  gap: 26px;
}

.price_original {
  color: #424436;

  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: left;
}

.price_discounted {
  color: #8B8B8B;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  text-align: left;
  text-decoration: line-through;

}
.discount_price{
  background-color: #F26D22;
  color: #FFFFFF;
  width: 55px;
  height: 30px;
  padding: 4px 8px 4px 8px;
  gap: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -10px;
}



.count_container {
  display:flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.count_button_container{
  width: 200px;
  display: flex;
}

.count_button {
  width: 48px;
  height: 55px;
  border: 1px solid #DDDDDD;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.count_minus, .count_plus {
  width: 20px;
  height: 20px;
  color: #8B8B8B;
}

.count_value {
  width: 96px;
  height: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424436;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  background-color: #fff;
}

.add_btn {
  width: 316px;
  height: 55px;
  padding: 16px 32px 16px 32px;


  background: #92A134;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;

}

.add_btn:hover {
  background-color: #424436;
}

.description {
  color: #424436;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;

}

.description_text {
  text-align: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;

  color: #424436;
  

}


.read {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: left;
  color: #424436;
  text-decoration: underline;
}