.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 1000; 
}

.modal_content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  opacity: 1;
 
}

.image {
  width: 900px;
  height: 610px;  
 
  object-fit: contain;
}
