.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 20px;
}
.cart_container{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 80px;
}
.title_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 70px;
    gap: 35px;
}

.title {
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    white-space: nowrap;
    color: #424436;
}

.nav_container {
    width: 100%;
    padding: 12px 0;
    display: flex;
}

.nav_list {
    display: flex;
    padding-top: 10px;
    align-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
}

.item {
    padding: 0 20px;
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    font-size: 1rem;
    line-height: 126%;
    padding: .5rem 1rem;
    position: relative;
    z-index: 1;
    background-color: #FFFFF1;
}

.linie {
    background: #ddd;
    height: 1px;
    width: 100%; /* Setzt die Breite der Linie auf 100% */
    position: absolute;
    top: 60%; /* Positioniert die Linie in der Mitte des Items */
    left: 0; /* Startet die Linie von der linken Seite */
    transform: translateY(-50%); /* Zentriert die Linie vertikal */
}

.cart_container{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 16px;
}

.order_container{
    background: #f1f3f4;
    border-radius: 12px;
    max-height: 682px;
    padding: 32px 32px 0;
    width: 548px;
}

.order_title{
    color: #282828;
    font-weight: 700; 
    padding-bottom: 24px;
    font-size: 40px;
}
.total_items{
    color: #8b8b8b;
    font-weight: 500;
    font-size: 40px;
}
.total_price_box{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}
.total_title{
    color: #8b8b8b;
    font-weight: 500;
    font-size: 40px;
}
.total_sum{
    color: #282828;
    font-weight: 700;
    font-size: 64px;
}
.order_form{
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    row-gap: 32px;
    width: 100%;
}
.input{
    background-color: #fcfeff;
    border: 1px solid #ddd;
    color: #282828;
    font-weight: 500;
    outline: none;
    width: 100%;
}
.form_button{
    background-color: #393;
    color: #fff;
}