.container {
    margin: 0 auto;
    max-width: 1360px;
}

.nav {
    margin: 2.5rem 0;
}

.nav_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.item {
    position: relative;
    padding: 0 20px;
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    font-size: 1rem;
    line-height: 126%;
    padding: .5rem 1rem;
}

.item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -18px;
    width: 18px;
    height: 1px;
    background-color: #DDDDDD;
    transform: translateY(-50%);
}

.item:last-child::after {
    content: none;
}

.link {
    color: #8b8b8b;
}

.wrapper {
    margin-bottom: 40px;
}

.title {
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 40px;
    color: #424436
}

.form {
    align-items: center;
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}

.label_price{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
} 

.label_sort, .label_discount {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-left: 24px;
}

.input_price {
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    font-size: .9375rem;
    height: 2.25rem;
    padding: .5rem 1rem;
    width: 7rem;
}

.select_sort {
    font-weight: 500;
    line-height: 20,16px;
    min-width: 148px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 16px;
    margin-left: 16px;
    color: #424436;
}