.container{
    max-width: 1360px;
    margin: 0 auto;
}
.title_container{
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 80px;
}
.title{
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    padding-right: 32px;
    /* color: #424436; */
    color: var(--color);
}

.line{
    background: #ddd;
    height: 1px;
    width: 100%;
}
.btn_div{
    align-items: center;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: #8b8b8b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    text-decoration: none;
    white-space: nowrap;
}
.btn_div:hover{
    background-color: #F2F6D3;
}
.btn_link{
    color: #8B8B8B;
    cursor: pointer;
    text-decoration: none;
}