.container{
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1440px;
}
.title_container{
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 80px;
}
.title{
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    padding-right: 32px;
    color: var(--color);
}
.btn_div{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 142px;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: #8b8b8b;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
}
.line_categories, .line_sale {
    background: #ddd;
    height: 1px;
    width: 810px;
    position: absolute;
    right: 180px;
    transform: translateY(-50%);
}
.line_sale{
    width: 1010px;
}
.btn_div:hover{
    background-color: #F2F6D3;
}
.btn_link{
    color: #8B8B8B;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 1000px){
    .container{
        padding: 0 20px;
        max-width: 1000px;
    }
    .title_container{
        padding-bottom: 32px;
        padding-top: 60px;
    }
    .line_categories, .line_sale {
        background: #ddd;
        height: 1px;
        width: 425px;
        position: absolute;
        right: 162px;
        transform: translateY(-50%);
    }
    .line_sale{
        width: 651px;
    }
}
@media(max-width: 768px) {
    .container {
        max-width: 768px;
    }
    .title {
        font-size: 56px;
    }
}
@media (min-width: 360px) and (max-width: 479px) {
    .btn_div {
        display: none;
    }
    .title { 
        font-size: 40px;
        font-weight: 700;
    }
}