
.nav_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid grey;
}

.nav_menu {
  display: flex;
  max-width: 518px;
  width: 100%;
  gap: 32px;
  line-height: 130%;
  flex-direction: row;
}

.nav_menu a {
  color: #424436;
  text-decoration: none;
}

.nav_menu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.discount_container {
  display: flex;
  background-color: #92A134;
  border-radius: 6px;
  max-width: 150px;
  width: 100%;
  justify-content: center;
  padding: 6px;
  line-height: 126%;
  color: white;
  margin-top: 30px;
  margin-bottom: 12px;
  cursor: pointer;
}

.discount_container:hover {
  opacity: 0.5;
}

.discount_text {
  display: flex;
  text-align: center;
}

.nav_icons_left, .nav_icons_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.switch_icon, .heart_icon, .bag_icon {
  max-width: 48px;
  width: 100%;
  height: auto;
}
.tree_icon {
  max-width: 70px;
}

.header_container_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}


.header_image_container {
  background-image: url('../../assets/images/header.svg');
  background-size: cover;
  background-position: center;
  width: 100vw; /* Используем 100vw для того, чтобы контейнер всегда занимал всю ширину экрана */
  max-width: 100%; 

  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  overflow: hidden; 

}

.header_image_text {
  font-size: 96px;
  font-weight: 700px;
  margin: 80px 40px 40px 40px;
  line-height: 110%;
  color: #FFFFFF;
}


.header_image_button {
  background-color: #92A134;
  color: white;
  font-family: 'Montserrat', regular;
  font-weight: 600;
  padding: 16px 56px;
  font-size: 20px;
  border-radius: 5px;
  max-width: 220px;
  width: 100%;
  margin: 0px 40px 210px 40px;
  text-align: center;
  position: relative;
  background: linear-gradient(45deg, #92A134, #dbf058);
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-position 0.5s ease;
  background-size: 200% 200%;
  background-position: 0% 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.header_image_button:hover {
  transform: scale(1.05);
  background-position: 100% 50%;
}


.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}

.modal_content {
  background-color: #92A134;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 404px; 
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_header_container {
  display: flex;
  justify-content: space-between;
  align-items: start; 
  width: 100%;
  padding-bottom: 20px;
}

.modal_header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  color: #ffffff;
  margin: 0;
  max-width: 424px;
  
}

.modal_close_button {
  background: none;
  border: none;
  font-size: 22px; 
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease;
  
  max-width: 22px;
  width: 100%;
  padding-top: 11px;
  /* padding-left: 11px; */
}

.modal_close_button:hover {
  color: #f26d22;
}


.product_card_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}


.card {
  background-color: #fff; /* Белый фон карточки товара */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 484px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.card img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.card .title {
  font-size: 20px;
  font-weight: bold;
  color: #424436;
  margin-top: 10px;
}

.card .price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.card .new_price {
  font-size: 24px;
  font-weight: bold;
  color: #8B8B8B;
}

.card .old_price {
  font-size: 18px;
  color: #424436;
  text-decoration: line-through;
}


.add_to_cart_button {
  background-color: #FFFFF1;
  color: #424436;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 16px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.add_to_cart_button:hover {
  background-color: #424436;
  color: #FFFFF1;
}

.add_to_cart_button:active {
  transform: scale(0.98);
}

.discount_badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #FF5733; 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.price_display {
  display: flex;
  align-items: center;
  gap: 16px;
}

.original_price {
  font-size: 20px;
  color: #8b8b8b;
  text-decoration: line-through;
}

.discounted_price {
  font-size: 30px;
  font-weight: 600;
  color: #424436;
}