/* ProductsPage */
.container {
    margin: 0 auto;
    max-width: 1400px;
}

.nav {
    margin: 2.5rem 0;
}

.nav_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.item {
    position: relative;
    padding: 0 20px;
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    font-size: 1rem;
    line-height: 126%;
    padding: .5rem 1rem;
}

.item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -18px;
    width: 18px;
    height: 1px;
    background-color: #DDDDDD;
    transform: translateY(-50%);
}

.item:last-child::after {
    content: none;
}

.link {
    color: #8b8b8b;
}

.wrapper {
    margin-bottom: 5rem;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 2.5rem;
    color: #282828;
}

.form {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.label_price {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 130%;
}

.label_sort {
    font-size: 1.25rem;
    font-weight: 600;
    gap: 1rem;
    line-height: 130%;
    margin-left: 35px;
}

.input_price {
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    font-size: .9375rem;
    height: 2.25rem;
    padding: .5rem 1rem;
    width: 7rem;
}

.select_sort {
    font-size: .9375rem;
    font-weight: 500;
    line-height: 126%;
    width: 12.5rem;
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    font-size: .9375rem;
    height: 2.25rem;
    padding: .5rem 1rem;
    margin-left: 16px;
}
.input_discount {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    appearance: none;
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    transition: all .3s ease-in-out;
    background-color: white;
}

.input_discount:checked {
    background-color: #92A134; 
    border-color: #92A134;
}

.input_discount:checked::after {
    content: "✓";
    color: white;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_discount::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
}

.input_discount:checked::after {
    transform: translate(-50%, -50%) scale(1); /* Zeigt das Häkchen an */
}
