/* ProductsPage */
.container {
    margin: 0 auto;
    max-width: 1400px;
}

.nav {
    margin: 2.5rem 0;
}

.nav_list {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 16px;
}

.item {
    position: relative;
    padding: 0 20px;
    border: .0625rem solid #ddd;
    border-radius: .375rem;
    font-size: 1rem;
    line-height: 126%;
    padding: .5rem 1rem;
}

.item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -18px;
    width: 18px;
    height: 1px;
    background-color: #DDDDDD;
    transform: translateY(-50%);
}

.item:last-child::after {
    content: none;
}

.link {
    color: #8b8b8b;
}

.wrapper {
    margin-bottom: 5rem;
}

.title {
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 40px;
    color: #424436
}

